@media (min-width: 960px), (orientation: landscape){
    .long-bar{
        font-size: 4vw;
        padding: 0.6vw;
        margin: 1vw;
    }
    
    #main-header{
        flex-direction: row;
        font-size: 4vw;
    }

    #photo-block div{
        border-radius: 12vw;
        width: 24vw;
        height: 24vw;
    }

    #description-block{
        flex: 5;
        align-items: center;
    }

    #welcome{
        font-size: 8vw;
    }

    #description-info{
        font-size: 3vw;
        padding: 0.6vw;
        margin: 1vw;
    }

    .name-header{
        padding: 0.3vw;
        font-size: 5vw;
    }
    
    /* single card css */

    .card-of-the-project{
        width: 30vw;
        height: 19vw;
        margin: 0 0 3vw;
    }

    .cards-title{
        font-size: 3vw;
        padding-left: 0.6vw;
    }

    .cards-content{
        margin: 0.6vw;
    }

    .technologies{
        font-size: 1.6vw;
        margin: 0 0.6vw 0.3vw 0.6vw;
    }

    .tech-icon{
        border-radius: 0.3vw;
        margin: 0.3vw;
        padding: 0.1vw;
    }

    .links{
        font-size: 2vw;
        margin: 0 0.6vw 0.3vw 0;
    }

    .contact-form{
        flex-direction: row;
    }

    .form-part-1{
        flex: 1;
        margin-right: 2.6vw;
    }

    .form-part-2{
        flex: 1;
    }

    .contact-form{
        font-size: 2vw;
    }

    .field-name{
        padding: 0.3vw;
        font-size: 2.6vw;
    }

    input{
        padding: 0.4vw;
        font-size: 2.6vw;
    }

    button[type="submit"]{
        padding: 0.4vw;
        font-size: 2.6vw;
    }

    textarea{
        height: 22vw;
    }

    /* side panel css */

    #side-bar{
        font-size: 7vw;
        display: flex;
        flex-direction: row;
    }

    #side-title{
        flex: 1;
    }

}

@media (min-width: 960px){

    #wrapper{
        background-image: url("../resources/deep_blue_flower_web.jpg");
    }
}