@media (orientation: landscape){
    
    header{
        min-height: 30vw;
    }

    #main-header{
        flex-direction: row;
        font-size: 3vw;
    }

    #photo-block div{
        border-radius: 10vw;
        width: 20vw;
        height: 20vw;
    }

    #description-block{
        flex: 5;
        align-items: center;
    }

    #welcome{
        font-size: 6vw;
    }

    #description-info{
        font-size: 2.4vw;
        padding: 0.6vw;
        margin: 1vw;
        border-radius: 0.4vw;
    }

    .name-header{
        padding: 0.3vw;
        font-size: 4vw;
    }
    
    /* single card css */

    .card-of-the-project{
        width: 44vw;
        height: 27vw;
        margin: 0 0 3vw;
    }

    .cards-title{
        font-size: 4.4vw;
        padding-left: 0.6vw;
    }

    .cards-content{
        margin: 0.6vw;
    }

    .technologies{
        font-size: 2.3vw;
        margin: 0 0.6vw 0.3vw 0.6vw;
    }

    .tech-icon{
        border-radius: 0.3vw;
        margin: 0.3vw;
        padding: 0.1vw;
    }

    footer{
        flex-direction: row;
    }

    .footer-bar{
        font-size: 5vh;
        padding: 2vh;
        margin: 6vh 2vh;
    }

    /* contact form css */
    
    .contact-form{
        flex-direction: row;
    }

    .form-part-1{
        flex: 1;
        margin-right: 2.6vw;
    }

    .form-part-2{
        flex: 1;
    }

    .contact-form{
        font-size: 2vw;
    }

    .field-name{
        padding: 0.3vw;
        font-size: 2.6vw;
    }

    input{
        padding: 0.4vw;
        font-size: 2.6vw;
    }

    button[type="submit"]{
        padding: 0.4vw;
        font-size: 2.6vw;
    }

    textarea{
        height: 22vw;
    }

    /* side panel css */

    #side-bar{
        font-size: 7vw;
        display: flex;
        flex-direction: row;
    }

    #side-title{
        flex: 1;
    }

}

@media (min-width: 960px){
    /* card */
    .card-of-the-project{
        width: 28vw;
        height: 18.6vw;
        margin: 0 0 3vw;
    }

    .cards-title{
        font-size: 3vw;
        padding-left: 0.6vw;
    }

    .cards-content{
        margin: 0.6vw;
    }

    .technologies{
        font-size: 1.5vw;
        margin: 0 0.6vw 0.3vw 0.6vw;
    }

    .tech-icon{
        border-radius: 0.3vw;
        margin: 0.3vw;
        padding: 0.1vw;
    }
}

@media (min-width: 1440px){
    .std-container{
        margin: 3vh auto;
        width: 82vw;
    }

    .card-of-the-project{
        width: 26vw;
        height: 16vw;
        margin: 0 0 3vw;
    }

    .cards-title{
        font-size: 2.4vw;
        padding-left: 0.5vw;
    }

    .technologies{
        font-size: 1.1vw;
        margin: 0 0.6vw 0.3vw 0.6vw;
    }
}