article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    cursor: default;
}

article a{
    transition: all 0.2s ease-in-out;
    color: green;
}

article a:hover{
    color: #7AB10E;
}

section{
    margin: 0 3vh 2vh;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}

.side-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.side-header-block{
    text-align: center;
    margin: 1vh;
    padding: 0.6vh;
    font-size: 4vh;
}

.side-header-block:last-child{
    text-align: initial;
}

.std-side-header{
    padding: 1vh;
    font-size: 4vh;
}

.std-side-content{
    width: 100%;
    flex: 1;
    font-size: 2.8vh;
    padding: 1vh;
    box-sizing: border-box;
    word-wrap: break-word;
}

#links-section{
    background-color: initial;
}

.std-side-link{
    margin: 2.6vh 0 0;
    text-align: center;
    width: 100%;
    font-size: 7vh;
    padding: 0.2vh;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.std-side-link:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#git:hover{
    background-color: greenyellow;
}

#page-link{
    background-color: crimson;
    color: white;
}

#page-link:hover{
    background-color: red;
}

@media (min-width: 960px), (orientation: landscape){
    
    section{
        margin: 0 4vw 2vw;
    }

    .side-header{
        margin-bottom: 2.6vw;
    }

    .std-side-header{
        font-size: 2.6vw;
    }

    .std-side-content{
        font-size: 2vw;
    }

    .std-side-link{
        height: 9vw;
        font-size: 7vw;
    }

}