.primary-light{
    background-color: rgb(0, 91, 78);
    color: white;
}

.primary-normal{
    background-color: rgb(2, 65, 56);
    color: white;
}

.primary-dark{
    background-color: rgb(38, 66, 69);
    color: white;
}

.secondary-light{
    background-color: rgb(33, 44, 50);
    color: white;
}

.secondary-normal{
    background-color: rgb(21, 35, 36);
    color: white;
}

.secondary-dark{
    background-color: rgb(3, 28, 24);
    color: white;
}

::selection{
    color: white; 
    background: rgb(209, 52, 0);
}

/* https://codepen.io/sdthornton/pen/wBZdXq */

.shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}