.primary-light{
    background-color: #68A10E;
    /*background-color: #84D242;*/
    color: black;
}

.primary-normal{
    background-color: #509000;
    /*background-color: #50a000;*/
    color: white;
}

.primary-dark{
    background-color: #135100;
    /*background-color: #137100;*/
    color: white;
}

.secondary-light{
    background-color: #396244;
    /*background-color: #5633d3*/
    color: white;
}

.secondary-normal{
    background-color: #0E401B;
    /*background-color: #0000a0;*/
    color: white;
}

.secondary-dark{
    background-color: #113304;
    /*background-color: #000070;*/
    color: white;
}

/* https://codepen.io/sdthornton/pen/wBZdXq */

.shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}